---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About">
	<section class="content-page">
		<h2>About</h2>
		<div class="about-grid">
			<div class="profile-photo">
				<img src="/niina1.jpg" alt="Niina Pollari" />
			</div>
			<div class="bio-text">
				<p>Niina Pollari is the author of two poetry collections, <i>Path of Totality</i> (Soft Skull 2022) and <i>Dead Horse</i> (Birds, LLC 2015). She is also the translator, from the Finnish, of Tytti Heikkinen's selected collection, <i>The Warmth of the Taxidermied Animal</i>. Her next collection, <i>Risk Tolerance</i>, will be out from Autofocus Books in early 2027. She is represented by Monika Ostrowska of Triangle House. </p>

                        <p>She is also a reviews editor at the literary brotherhood <a href="https://zonamotel.substack.com/">Zona Motel</a>.</p>

                    
			</div>
		</div>
	</section>
</MainLayout>