---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Home">
	<section class="book-grid">
		<div class="book-visual">
			<img src="/pathcover.gif" alt="Path of Totality Book Cover" />
		</div>
		<div class="book-details">
			<h2 class="book-title">Path of Totality</h2>
			<p class="publisher">Soft Skull Press, 2022</p>
			<blockquote class="praise">
				"Mysteriously empowering, as though it offered proof that the human mind is equal to great tragedy."
				<cite>— Elisa Gabbert, New York Times</cite>
			</blockquote>
			<div class="buy-links">
				<a href="https://softskull.com/dd-product/path-of-totality/" class="btn primary">Order from Publisher</a>
                <a href="https://bookshop.org" class="btn secondary">Order from Bookshop</a>
			</div>
		</div>
	</section>
</MainLayout>